.login_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 44px 127px 44px;
  width: 402px;
  height: 100%;
  border: 1px solid #111;
}

.loging_content {
  gap: 20px;
}

.login_img {
  width: 192px;
  height: 193px;
}

#username,
#password {
  width: 293px;
  height: 39px;
  border: 1px solid #111;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #111;
}
