:root {
  --main-font-font-family: "Pretendard", Helvetica;
  --main-font-font-weight: 700;
  --main-font-font-size: 15px;
  --main-font-letter-spacing: 0px;
  --main-font-line-height: normal;
  --main-font-font-style: normal;
  --main: rgba(32, 59, 85, 1);
  --background: rgba(255, 255, 255, 1);
  --gray: rgba(188, 188, 188, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
  --system-colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-system-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-system-colors-mode="light"] {
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
  --system-colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

[data-system-colors-mode="dark"] {
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
  --system-colors-backgrounds-primary: rgba(0, 0, 0, 1);
}

[data-system-colors-mode="dark-elevated"] {
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
  --system-colors-backgrounds-primary: rgba(28, 28, 30, 1);
}

[data-system-colors-mode="IC-light"] {
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
  --system-colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

[data-system-colors-mode="IC-dark"] {
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
  --system-colors-backgrounds-primary: rgba(0, 0, 0, 1);
}

[data-system-colors-mode="IC-dark-elevated"] {
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
  --system-colors-backgrounds-primary: rgba(36, 36, 38, 1);
}
